.single-sidebar .widget_nav_menu{
    margin-bottom: 40px;
}
.single-sidebar .widget-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color:  #7C9E3D;
    padding: 16px 12px;
    color: #FFF;
    text-align: center;
    margin: 0;
    border-radius: 8px 8px 0 0 ;
}
.single-sidebar li{
    padding-bottom: 24px;
}
.single-sidebar li:last-child{
    padding-bottom: 0;
}
.single-sidebar a{
    color: #1B3C2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.single-sidebar .menu{
    padding: 24px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 6px 6px 6px #F3F3F3;
}
.single-content .entry-meta{
    display: none;
}
.single-content  .entry-footer .cat-links{
    display: none;
}
.single-content .entry-footer .edit-link{
    display: none;
}
.single-content .entry-footer .tags-links{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 27.2px */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.related-post{
    background-color: #F3F3F3;
    padding-bottom: 64px;
    padding-top: 64px;
}
.related-title-block{
    text-align: center;
    padding-bottom: 48px;
}
.related-title-block .related-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 24px;
    margin: 0;
}
.related-title-block p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin: 0;
}
.related-title-block hr{
    width: 64px;
    height: 4px;
    background: #7C9E3D;
    margin: 0 auto;
}
.show-related .entry-image{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.show-related .entry-image:hover{
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}
.show-related .post-thumbnail img{
    width: 100%;
    min-height: 264px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.show-related .entry-title h1{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.show-related  .entry-des p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    color: #1B3C2D;
    margin: 0;
}
.show-related  .entry-des{
    display: -webkit-box;
    max-height: 5.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-height: 1.6rem;
    margin-bottom: 16px;
}
.show-related .inner{
    padding: 24px;
}
.show-related .readmore-block a{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #7C9E3D;
    display: flex;
    align-items: center;
}
.show-related .readmore-block a:hover{
    color: #1B3C2D;
}
.show-related .readmore-block:hover  .onHover{
    display: block;
}
.show-related .readmore-block:hover .normal{
    display: none;
}
.show-related  .onHover{
    display: none;
}